.hp.actcount>div.overflow:not(.lost) {
    background: rgb(154, 154, 154);
    border: 1px solid rgb(109, 109, 109);
}
.hp.actcount.overflow2>div.overflow:not(.lost) {
    background: rgb(173, 129, 63);
    border: 1px solid rgb(131, 109, 31);
}
.hp.actcount>.lost {
    background: rgba(63, 119, 173,1);
    border: 1px solid rgba(31, 82, 131, 1);
    /*filter: grayscale(1);
    -webkit-filter: grayscale(1);*/
}

#arena.oldlayout .player .hp:not(.text):not(.actcount):not(.treasure)[data-condition="high"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount):not(.treasure)[data-condition="mid"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount):not(.treasure)[data-condition="low"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount):not(.treasure)>.lost{
    transform: scale(1.6);
}

.button.newstyle>.hp>.text{
    margin-left: 5px;
}
